/*--------------------------------------------------------------------------------*/
/*GRID #{$config-grid} COLUMNS*/
/*--------------------------------------------------------------------------------*/
.grid-row {
	display: flex;
  	flex-wrap: wrap;
    @include make_row();
 }
.no-gutter {
    margin-right: 0;
    margin-left: 0;
    > .column,
    > [class*="column-"] {
      	padding-right: 0;
      	padding-left: 0;
    }
}

@include make_grid_columns();