/*--------------------------------------------------------------------------------*/
/*EXTENDS*/
/*--------------------------------------------------------------------------------*/

// Fonts
%_font-light {
    font-weight: get('font.weight.light');
}
%_font-regular {
    font-weight: get('font.weight.regular');
}
%_font-medium {
    font-weight: get('font.weight.medium');
}
%_font-semibold {
    font-weight: get('font.weight.semibold');
}
%_font-bold {
    font-weight: get('font.weight.bold');
}
%_font-family-base {
    font-family: $base-font-family;
    &-2 {
        font-family: $base-font-family-2;
    }
}

// Display flex
%_display-flex {
    @include display-flex();
}
%_display-flex-wrap {
    @include display-flex($flex-wrap: wrap);
}

// Text align
%_text-center {
    text-align: center;
}

// Radius
%_base-radius {
    @include border-radius(md);
}
%_circle {
    overflow: hidden;
    @include border-radius(50%);
}

// Opacity
%_alpha {
    @include opacity(0.8);
}

// Colors
// %_color-blue-detik {
//     @include color(detik-color, blue);
// }
// %_color-orange-detik {
//     @include color(detik-color, orange);
// }
// %_color-red-detik {
//     @include color(detik-color, red);
// }
// %_color-bg-blue-detik {
//     @include color-bg(detik-color, blue);
// }
// %_color-bg-orange-detik {
//     @include color-bg(detik-color, orange);
// }
// %_color-bg-red-detik {
//     @include color-bg(detik-color, red);
// }
%_color-orange {
    @include color(brand-color, orange);
}
%_color-red {
    @include color(brand-color, red, light-1);
}
%_color-orange-light {
    @include color(brand-color, orange, light-1);
}
%_color-success {
    @include color(base-color, utilities, success);
}
%_color-warning {
    @include color(base-color, utilities, warning);
}
%_color-error {
    @include color(base-color, utilities, error);
}