/*--------------------------------------------------------------------------------*/
/*HELPER*/
/*--------------------------------------------------------------------------------*/

// SPACING
@each $size, $value in get('spacing') {
    .pd-#{$size} {
        padding: $value; 
    }
    .pdt-#{$size} {
        padding-top: $value; 
    }
    .pdr-#{$size} {
        padding-right: $value; 
    }
    .pdb-#{$size} {
        padding-bottom: $value; 
    }
    .pdl-#{$size} {
        padding-left: $value; 
    }
    .mg-#{$size} {
        margin: $value; 
    }
    .mgt-#{$size} {
        margin-top: $value; 
    }
    .mgr-#{$size} {
        margin-right: $value; 
    }
    .mgb-#{$size} {
        margin-bottom: $value; 
    }
    .mgl-#{$size} {
        margin-left: $value; 
    }    
}
.mgb-0 {
    margin-bottom: 0;
}
.text-center {
    @extend %_text-center;
}
.display-flex {
    @extend %_display-flex;
}
.flex-center {
    align-items: center;
}
.circle {
    @extend %_circle;
}
.position-relative {
    position: relative;
    z-index: 1;
}
.font-helvetica {
    @extend %_font-family-base-2;
    @extend %_font-light;
}