<!DOCTYPE html>
<!-- saved from url=(0037)#home -->
<html lang="en">

<head>
    {{> head}}

<body>
    <div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
        {{> header active_cart=true}}
        <div class="app-main">
            {{> sidebar active_fjb=true}}
            <div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="container mb-5">
                        <div class="row">
                            <div class="card col-md-8 col-12 mb-4 px-0">
                                <div class="card-header">Checkout</div>
                                <div class="card-body">
                                    <form>
                                        <div class="form-group">
                                            <label for="Nama">Nama</label>
                                            <input type="text" class="form-control" id="Nama"
                                                aria-describedby="name">
                                        </div>
                                        <div class="form-group">
                                            <label for="Telp">No. Telepon</label>
                                            <input type="text" class="form-control" id="Telp">
                                        </div>
                                        <div class="form-group">
                                            <label for="Alamat">Alamat</label>
                                            <textarea type="text" class="form-control" id="Alamat"></textarea>
                                        </div>
                                    </form>
                                    <div class="border-top mt-4 mb-3"></div>
                                    {{> cart_item type="checkout" channel=WP.Latest total=2 index_start=1 index_end=2}}
                                    <div class="border-top row no-gutter mt-3 py-3">
                                        <div class="col-6">
                                            <p><b>Subtotal</b></p>
                                        </div>
                                        <div class="col-6 text-right">
                                            <h6 class="text-primary"><b>Rp. 177.000</b></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card col-md-4 col-12 mb-4 px-0">
                                <div class="card-header">Ringkasan Pesanan</div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-6">
                                            <p>Subtotal</p>
                                        </div>
                                        <div class="col-6 text-right">
                                            <p><b>Rp. 177.000</b></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <p>Ongkos Kirim</p>
                                        </div>
                                        <div class="col-6 text-right">
                                            <p><b>Rp. 15.000</b></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <p>Biaya Admin</p>
                                        </div>
                                        <div class="col-6 text-right">
                                            <p><b>Rp. 5.000</b></p>
                                        </div>
                                    </div>
                                    <div class="border-top mt-4 mb-3"></div>
                                    <div class="row">
                                        <div class="col-6">
                                            <p><b>Total Bayar</b></p>
                                        </div>
                                        <div class="col-6 text-right">
                                            <h6 class="text-primary"><b>Rp. 197.000</b></h6>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary btn-shadow btn-lg w-100 mt-3" type="button" data-toggle="modal" data-target="#paymentModal">
                                        PILIH PEMBAYARAN
                                    </button>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                {{> footer}}
            </div>
        </div>
    </div>

    {{> modal_iframe}}

    {{> modal_payment}}
    {{> modal_form}}

    {{> js}}
    <script src="./assets/js/product.js"></script>

</body>

</html>