<!DOCTYPE html>
<!-- saved from url=(0037)#home -->
<html lang="en">

<head>
	{{> head}}
<body>
	<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
		{{> header}}
		<div class="app-main">
			{{> sidebar active_donatur=true}}
			<div class="app-main__outer">
				<div class="app-main__inner">
                    <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div class="page-title-icon">
                                    <i class="pe-7s-wallet icon_gradient bg-tempting-azure">    </i>
                                </div>
                                <div>Data Donasi
                                    <div class="page-title-subheading">List Data Donatur
                                    </div>
                                </div>
                            </div>  
                        </div>
                    </div>
                    
                    <div class="review-block">
                        <div class="box box--shadow box--rounded bg-white">  
                            <div class="tabs-content py-0">
                                <div id="table_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                    <div class="row mt-3 mb-2">
                                        <div class="col-sm-12 col-md-6">
                                            <div class="dataTables_length d-inline-block mr-4" id="table_length">
                                                    <select name="table_length" aria-controls="table" class="custom-select custom-select-sm form-control form-control-sm">
                                                        <option value="10">10</option>
                                                        <option value="25">25</option>
                                                        <option value="50">50</option>
                                                        <option value="100">100</option>
                                                    </select>
                                            </div>
                                            <div class="dropdown d-inline-block">
                                                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-filter mr-2"></i> <span class="d-none d-md-inline-block">Filter</span>
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <div class="dropdown-item px-3">
                                                        <div class="row no-gutter w-100">
                                                            <label for="exampleFormControlSelect1" class="mt-1"><span class="align-middle">Kategori</span></label>
                                                            <select class="form-control w-100" id="exampleFormControlSelect1">
                                                                <option>Kategori 1</option>
                                                                <option>Kategori 2</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-6 d-none d-md-block">
                                            <div id="table_filter" class="dataTables_filter">
                                                <label>Search:
                                                    <input type="search" class="form-control form-control-sm" placeholder="" aria-controls="table"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                        <div class="col-sm-12">
                                            <table class="table table-striped table-bordered table-hover table-full-width dataTable no-footer" id="table" role="grid" aria-describedby="table_info" style="width: 1296px;">
                                                <thead>
                                                    <tr role="row">
                                                        {{!-- <th class="align-center sorting_disabled" rowspan="1" colspan="1" style="width: 13.4px;" aria-label=""><input
                                                                type="checkbox" id="checkAll"></th> --}}
                                                        {{!-- <th class="sorting_desc" tabindex="0" aria-controls="table" rowspan="1" colspan="1" style="width: 183.2px;"
                                                            aria-sort="descending" aria-label="NIK: activate to sort column ascending">NIK</th> --}}
                                                        <th class="sorting" tabindex="0" aria-controls="table" rowspan="1" colspan="1"
                                                            aria-label="Nama: activate to sort column ascending">Nama Donasi</th>
                                                        <th class="sorting" tabindex="0" aria-controls="table" rowspan="1" colspan="1"
                                                            aria-label="Info Donasi: activate to sort column ascending">Kategori</th>
                                                        <th class="sorting" tabindex="0" aria-controls="table" rowspan="1" colspan="1"
                                                            aria-label="Jumlah Donasi: activate to sort column ascending">Total Pending</th>
                                                        <th class="sorting" tabindex="0" aria-controls="table" rowspan="1" colspan="1"
                                                            aria-label="Metode: activate to sort column ascending">Total Paid</th>
                                                        <th class="sorting" tabindex="0" aria-controls="table" rowspan="1" colspan="1"
                                                            aria-label="Status: activate to sort column ascending">Total Canceled</th>
                                                        <th class="sorting" tabindex="0" aria-controls="table" rowspan="1" colspan="1"
                                                            aria-label="Status: activate to sort column ascending">Donasi Terkumpul</th>
                                                            <th class="sorting" tabindex="0" aria-controls="table" rowspan="1" colspan="1"
                                                            aria-label="Status: activate to sort column ascending">Aksi</th>
                                                        </tr>
                                                </thead>
                                                <tbody>
                                                    
                                                <tr role="row" class="odd">
                                                    {{!-- <td class=" align-center"><i class="fas fa-check-square"></i></td>
                                                    <td class="sorting_1">3305084107840105</td> --}}
                                                    <td>Donasi Corona</td>
                                                    <td>Kesehatan</td>
                                                    <td> 15</td>
                                                    <td>5</td>
                                                    <td>5</td>
                                                    <td><b>Rp. 150.000.000</b></td>
                                                    <td>
                                                        <a href="./donasi_donatur.html" class="btn btn-secondary btn-sm">INFO DETAIL</a>
                                                    </td>
                                                </tr>
                                                <tr role="row" class="odd">
                                                    {{!-- <td class=" align-center"><i class="fas fa-check-square"></i></td>
                                                    <td class="sorting_1">3305084107840105</td> --}}
                                                    <td>Donasi DBD</td>
                                                    <td>Kesehatan</td>
                                                    <td> 15</td>
                                                    <td>5</td>
                                                    <td>5</td>
                                                    <td><b>Rp. 15.000.000</b></td>
                                                    <td>
                                                        <a href="./donasi_donatur.html" class="btn btn-secondary btn-sm">INFO DETAIL</a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				{{> footer}}
			</div>
		</div>
	</div>

	{{> modal_iframe}}

	{{> modal_form}}
	
	{{> modal_komentar}}

	{{> js}}

    <script src="./assets/js/product.js"></script>
    <script type="text/javascript">
        tabs();

    </script>
</body>

</html>