<!DOCTYPE html>
<!-- saved from url=(0037)#home -->
<html lang="en">

<head>
	{{> head}}
<body>
	<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
		{{> header}}
		<div class="app-main">
			{{> sidebar active_grosir_order=true}}
			<div class="app-main__outer">
				<div class="app-main__inner">
                    <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div class="page-title-icon">
                                    <i class="pe-7s-wallet icon_gradient bg-tempting-azure">    </i>
                                </div>
                                <div>Data Order
                                    <div class="page-title-subheading">List Produk
                                    </div>
                                </div>
                            </div>  
                        </div>
                    </div>
                    
                    <div class="review-block">
                        <div class="box box--shadow box--rounded bg-white">
                            <div class="tabs p_tabs">
                                <a href="#all" class="tabs__item">Semua (20)</a>
                                <a href="#1" class="tabs__item">Pesanan Baru (5)</a>
                                <a href="#2" class="tabs__item">Siap dikirim (1)</a>
                                <a href="#3" class="tabs__item">Dalam Pengiriman (0)</a>
                                <a href="#4" class="tabs__item">Pesanan Selesai (1)</a>
                                <a href="#5" class="tabs__item">Pesanan Dibatalkan (0)</a>
                            </div>    
                            <div class="tabs-content py-0">
                                <div id="table_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                    <div class="row mt-3 mb-2">
                                        <div class="col-sm-12 col-md-6">
                                            <div class="dataTables_length d-inline-block mr-4" id="table_length">
                                                    <select name="table_length" aria-controls="table" class="custom-select custom-select-sm form-control form-control-sm">
                                                        <option value="10">10</option>
                                                        <option value="25">25</option>
                                                        <option value="50">50</option>
                                                        <option value="100">100</option>
                                                    </select>
                                            </div>
                                            <div class="dataTables_length d-inline-block mr-4" id="table_length">
                                                    <select name="table_length" aria-controls="table" class="custom-select custom-select-sm form-control form-control-sm">
                                                        <option value="10" selected="true" disabled="disabled">Urutkan</option>
                                                        <option value="10">Kategori</option>
                                                        <option value="25">Date</option>
                                                        <option value="50">Quantity</option>
                                                        <option value="100">Ready Stok</option>
                                                    </select>
                                            </div>
                                            <div class="dataTables_length d-inline-block" id="table_length">
                                                    <div class="dropdown">
                                                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
                                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="fas fa-filter mr-2"></i> <span class="d-none d-md-inline-block">Filter</span>
                                                        </button>
                                                        <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
                                                            <div class="dropdown-item">
                                                                <div class="form-group row no-gutter w-100">
                                                                    <label for="exampleFormControlSelect1" class=" mt-1"><span class="align-middle">Topik</span></label>
                                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                                        <option>Seputar Peraturan</option>
                                                                        <option>Keluh Kesah Warga</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="dropdown-item">
                                                                <div class="form-group row no-gutter w-100">
                                                                    <label for="exampleFormControlSelect1" class=" mt-1"><span class="align-middle">Desa</span></label>
                                                                    <select class="form-control w-100" id="exampleFormControlSelect1">
                                                                        <option>Cisayom</option>
                                                                        <option>Ciroyom</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="dropdown-divider"></div>
                                                            <div class="dropdown-item align-right"><button type="button" class="btn btn-primary">TERAPKAN</button></div>
                                                        </div>
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-6 d-none d-md-block">
                                            <div id="table_filter" class="dataTables_filter">
                                                <label>Search:
                                                    <input type="search" class="form-control form-control-sm" placeholder="" aria-controls="table"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="all">
                                    {{> cart_item type="order" channel=WP.Latest total=6 index_start=10 index_end=16}}
                                </div>
                                <div id="1">
                                    {{> cart_item type="order" channel=WP.Latest total=1 index_start=1 index_end=5}}
                                </div>
                                <div id="2">
                                    {{> cart_item type="order2" channel=WP.Latest total=1 index_start=1 index_end=3}}
                                </div>
                                <div id="3">
                                    <p class="py-3">Tidak ada data</p>
                                </div>
                                <div id="4">
                                    {{> cart_item type="order3" channel=WP.Latest total=1 index_start=1 index_end=2}}
                                </div>
                                <div id="5">
                                    <p class="py-3">Tidak ada data</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				{{> footer}}
			</div>
		</div>
	</div>

	{{> modal_iframe}}

	{{> modal_form}}
	
	{{> modal_komentar}}

	{{> js}}

    <script src="./assets/js/product.js"></script>
    <script type="text/javascript">
        tabs();

    </script>
</body>

</html>