<!DOCTYPE html>
<!-- saved from url=(0037)#home -->
<html lang="en">

<head>
  {{> head}}

<body>
  <div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    {{> header active_cart=true}}
    <div class="app-main">
      {{> sidebar active_fjb=true}}
      <div class="app-main__outer">
        <div class="app-main__inner">
          <div class="container mb-5">
            <div class="row">
              <div class="input-group col-12 mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="metismenu-icon pe-7s-search"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Cari berdasarkan nama produk atau merek" aria-label="Username"
                  aria-describedby="basic-addon1">
              </div>
            </div>
            <div class="row mb-5">
              <div class="col-md-3 col-12">
                {{> kategori_produk}}
              </div>
              <div class="col-md-9 col-12">
                {{> slider_produk}}
              </div>
            </div>
            <div class="box">
              <div class="box__header">
                <div class="box__title">Lagi Diskon</div>
                <a href="#" class="indeks-link">Lihat Semua <i class="icon icon-arrow-right"></i></a>
              </div>
              <div class="list-content list-content--column list-content--equal-height grid-row" id="sliderSale">
                {{> card_product type="slider_sale" channel=WP.Latest total=6 index_start=10 index_end=16}}
              </div>
            </div>
            {{> card_brand}}
            <div class="box">
              <div class="box__header">
                <div class="box__title">Kategori A</div>
                <a href="#" class="indeks-link">Lihat Semua <i class="icon icon-arrow-right"></i></a>
              </div>
              <div class="list-content list-content--column list-content--equal-height grid-row" id="sliderProduct">
                {{> card_product type="slider" channel=WP.Latest total=6 index_start=10 index_end=16}}
              </div>
            </div>
          </div>
        </div>
        {{> footer}}
      </div>
    </div>
  </div>

  {{> modal_iframe}}

  {{> modal_form}}

  {{> js}}
  <script src="./assets/js/product.js"></script>
  <script type="text/javascript">
    // INIT SLIDER
    var $slider = $("#slider");
    var slider_options = {
      infinite: true,
      slidesToShow: 1,
      slidesToScroll: 1,
      centerMode: true,
      dots: true,
      centerPadding: '165px',
      responsive: [
        {
          breakpoint: 992,
          settings: {
            centerPadding: '100px',
          }
        },
        {
          breakpoint: 768,
          settings: {
            centerPadding: '70px',
          }
        },
        {
          breakpoint: 576,
          settings: {
            centerMode: false,
          }
        }
      ]
    }
    $slider.slick(slider_options);
    var $slider = $("#sliderSale");
    var slider_options = {
      infinite: true,
      slidesToShow: 5,
      slidesToScroll: 1,
      responsive: [
        {
          breakpoint: 992,
          settings: {
            slidesToShow: 4,
          }
        },
        {
          breakpoint: 768,
          settings: {
            slidesToShow: 3,
          }
        },
        {
          breakpoint: 576,
          settings: {
            slidesToShow: 1,
          }
        }
      ]
    }
    $slider.slick(slider_options);

    var $slider = $("#sliderProduct");
    var slider_options = {
      infinite: true,
      slidesToShow: 5,
      slidesToScroll: 1,
      responsive: [
        {
          breakpoint: 992,
          settings: {
            slidesToShow: 4,
          }
        },
        {
          breakpoint: 768,
          settings: {
            slidesToShow: 3,
          }
        },
        {
          breakpoint: 576,
          settings: {
            slidesToShow: 1,
          }
        }
      ]
    }
    $slider.slick(slider_options);
  </script>

</body>

</html>