<div class="box">
    <div class="box__header">
        <div class="box__title">Super Deal</div>
        <a href="#" class="indeks-link">Lihat Semua <i class="icon icon-arrow-right"></i></a>
    </div>

    <div class="list-content list-content--column list-content--equal-height grid-row" id="sliderSale">
        <article class="column-12 list-content__item">
            <div class="media">
                <div class="media__image">
                    <a href="detail_product.html" class="media__link">
                        <span class="ratiobox ratiobox--16-9 lqd">
                            <img src="./assets/images/img1.jpg" alt="">
                        </span>
                    </a>
                </div>
                <div class="media__text">
                    <h2 class="media__title">
                        <a href="detail_product.html" class="media__link">Kue Nastar buatan rumahan</a>
                    </h2>
                    <div class="media__sale">Rp. 50.000</div>
                    <div class="media__price">Rp. 30.000</div>
                </div>
            </div>
        </article>
        <article class="column-12 list-content__item">
            <div class="media">
                <div class="media__image">
                    <a href="detail_product.html" class="media__link">
                        <span class="ratiobox ratiobox--16-9 lqd">
                            <img src="./assets/images/img2.jpg" alt="">
                        </span>
                    </a>
                </div>
                <div class="media__text">
                    <h2 class="media__title">
                        <a href="detail_product.html" class="media__link">Kue Nastar buatan rumahan</a>
                    </h2>
                    <div class="media__sale">Rp. 50.000</div>
                    <div class="media__price">Rp. 30.000</div>
                </div>
            </div>
        </article>
        <article class="column-12 list-content__item">
            <div class="media">
                <div class="media__image">
                    <a href="detail_product.html" class="media__link">
                        <span class="ratiobox ratiobox--16-9 lqd">
                            <img src="./assets/images/img3.jpg" alt="">
                        </span>
                    </a>
                </div>
                <div class="media__text">
                    <h2 class="media__title">
                        <a href="detail_product.html" class="media__link">Kue Nastar buatan rumahan</a>
                    </h2>
                    <div class="media__sale">Rp. 50.000</div>
                    <div class="media__price">Rp. 30.000</div>
                </div>
            </div>
        </article>
        <article class="column-12 list-content__item">
            <div class="media">
                <div class="media__image">
                    <a href="detail_product.html" class="media__link">
                        <span class="ratiobox ratiobox--16-9 lqd">
                            <img src="./assets/images/img4.jpg" alt="">
                        </span>
                    </a>
                </div>
                <div class="media__text">
                    <h2 class="media__title">
                        <a href="detail_product.html" class="media__link">Kue Nastar buatan rumahan</a>
                    </h2>
                    <div class="media__sale">Rp. 50.000</div>
                    <div class="media__price">Rp. 30.000</div>
                </div>
            </div>
        </article>
        <article class="column-12 list-content__item">
            <div class="media">
                <div class="media__image">
                    <a href="detail_product.html" class="media__link">
                        <span class="ratiobox ratiobox--16-9 lqd">
                            <img src="./assets/images/img1.jpg" alt="">
                        </span>
                    </a>
                </div>
                <div class="media__text">
                    <h2 class="media__title">
                        <a href="detail_product.html" class="media__link">Kue Nastar buatan rumahan</a>
                    </h2>
                    <div class="media__sale">Rp. 50.000</div>
                    <div class="media__price">Rp. 30.000</div>
                </div>
            </div>
        </article>
        <article class="column-12 list-content__item">
            <div class="media">
                <div class="media__image">
                    <a href="detail_product.html" class="media__link">
                        <span class="ratiobox ratiobox--16-9 lqd">
                            <img src="./assets/images/img2.jpg" alt="">
                        </span>
                    </a>
                </div>
                <div class="media__text">
                    <h2 class="media__title">
                        <a href="detail_product.html" class="media__link">Kue Nastar buatan rumahan</a>
                    </h2>
                    <div class="media__sale">Rp. 50.000</div>
                    <div class="media__price">Rp. 30.000</div>
                </div>
            </div>
        </article>
        <article class="column-12 list-content__item">
            <div class="media">
                <div class="media__image">
                    <a href="detail_product.html" class="media__link">
                        <span class="ratiobox ratiobox--16-9 lqd">
                            <img src="./assets/images/img3.jpg" alt="">
                        </span>
                    </a>
                </div>
                <div class="media__text">
                    <h2 class="media__title">
                        <a href="detail_product.html" class="media__link">Kue Nastar buatan rumahan</a>
                    </h2>
                    <div class="media__sale">Rp. 50.000</div>
                    <div class="media__price">Rp. 30.000</div>
                </div>
            </div>
        </article>
        <article class="column-12 list-content__item">
            <div class="media">
                <div class="media__image">
                    <a href="detail_product.html" class="media__link">
                        <span class="ratiobox ratiobox--16-9 lqd">
                            <img src="./assets/images/img4.jpg" alt="">
                        </span>
                    </a>
                </div>
                <div class="media__text">
                    <h2 class="media__title">
                        <a href="detail_product.html" class="media__link">Kue Nastar buatan rumahan</a>
                    </h2>
                    <div class="media__sale">Rp. 50.000</div>
                    <div class="media__price">Rp. 30.000</div>
                </div>
            </div>
        </article>
    </div>
</div>