{{#eq type compare="default"}}
    {{#each channel}}
    {{#gte @index compare=../index_start}}
    {{#gte @index compare=../index_end}}
    {{else}}
    <div class="border rounded mb-4">
        <div class="row no-gutters">
            <div class="col-md-2 col-4 border-right">
                <div class="align-center mt-5">
                    <img src="./assets/images/avatar_2.jpeg" class="w-50 rounded-circle bg-secondary" alt="...">
                </div>
                <div class="align-center mt-2 mb-2">
                    <p class="card-text mb-0 text-body">Reno Suhendra</p>
                    <p class="card-text px-3 text-black-50"><small>Kades Cirayom</small></p>
                </div>
            </div>
            <div class="col-md-10 col-8 position-relative">
                <div class="dropdown text-right position-absolute top-right">
                    <button class="btn btn-link py-0" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <h4 class="mb-0"><i class="icon ion-android-more-horizontal"></i></h4>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">
                            <i class="col-1 icon ion-bookmark text-muted mr-2"></i>
                            <span class="col-11">Simpan</span>
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="col-1 icon ion-information-circled text-muted mr-2"></i>
                            <span class="col-11">Laporkan</span>
                        </a>
                    </div>
                </div>
                <div class="card-body mt-4 mb-3 row no-gutter p-2">
                    <div class="col-md-9">
                        <a href="forum_detail.html"><h4>Ini adalah judul Thread</h4></a>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="row">
                            <p class="card-text text-muted col-md-2 col-6">
                                <i class="pe-7s-look mr-2 text-black"></i>1.2k
                            </p>
                            <p class="card-text text-muted col-md-2 col-6">
                                <i class="pe-7s-back mr-2 text-black"></i>101
                            </p>
                            <p class="card-text text-muted col-md-6 col-6">
                                <span class="text-light mr-2">|</span>21 Maret 2020
                            </p>
                            <h4 class="card-text text-muted col-md-2 col-6 text-right">
                                <div class="dropdown">
                                    <button class="btn btn-link btn-lg py-0 px-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <h4><i class="ion-android-share-alt mr-2 text-black"></i></h4>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item px-1" href="#">
                                            <i class="icon ion-social-facebook btn-circle col-1"></i>
                                            <span class="col-11">Facebook</span>
                                        </a>
                                        <a class="dropdown-item px-1" href="#">
                                            <i class="icon ion-social-twitter btn-circle col-1"></i>
                                            <span class="col-11">Twitter</span>
                                        </a>
                                        <a class="dropdown-item px-1" href="#">
                                            <i class="icon ion-social-whatsapp btn-circle col-1"></i>
                                            <span class="col-11">Whatsapp</span>
                                        </a>
                                        <a class="dropdown-item px-1" href="#">
                                            <i class="icon ion-ios-copy btn-circle col-1"></i>
                                            <span class="col-11">Copy Link</span>
                                        </a>
                                    </div>
                                </div>
                            </h4>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="img__thumbnail ratio1_1">
                            <img src="./assets/images/img1.jpg" class="bg-secondary" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/gte}}
    {{else}}
    {{/gte}}
    {{/each}}
{{else}}
{{/eq}}
