<div class="card mb-3">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6 col-1">

            </div>
            <div class="col-md-6 col-11 text-right">
                <div class="row">
                    <div class="col-6 text-right">
                        <select class="form-control w-100" id="exampleFormControlSelect1">
                            <option disabled>Urutkan</option>
                            <option>Rating</option>
                            <option>Harga Rendah ke Tinggi</option>
                            <option>Harga Tinggi ke Rendah</option>
                        </select>
                    </div>
                    <div class="col-6 text-right">
                        <div class="dropdown">
                            <button class="btn btn-secondary btn-lg dropdown-toggle w-100" type="button"
                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <i class="fas fa-filter mr-2"></i> Filter
                            </button>
                            <div class="dropdown-menu dropdown-menu-right dropdown-width"
                                aria-labelledby="dropdownMenuButton">
                                <div class="d-block p-3 border-bottom">
                                    <h6 class="d-block">Kondisi</h6>
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn border-primary active">
                                            <input type="radio"  autocomplete="off"> Baru
                                        </label>
                                        <label class="btn border-primary">
                                            <input type="radio" autocomplete="off"> Bekas
                                        </label>
                                    </div>
                                </div>
                                <div class="d-block p-3 border-bottom">
                                    <h6 class="d-block">Harga</h6>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Min</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Max</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp">
                                    </div>
                                </div>
                                <div class="d-block p-3">
                                    <h6 class="d-block">Lokasi</h6>
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn border-primary active">
                                            <input type="checkbox" checked autocomplete="off"> Jakarta
                                        </label>
                                        <label class="btn border-primary">
                                            <input type="checkbox" autocomplete="off"> Bandung
                                        </label>
                                    </div>
                                    <button class="btn btn-link">Lihat Semua</button>
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="dropdown-item text-right">
                                    <button type="button" class="btn btn-primary">TERAPKAN</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>