<div class="row">
    <div class="col-6">
        <h4>Seputar Peraturan</h4>
    </div>
    <div class="col-6 text-right">
        <div class="row">
            <div class="col-12 text-right">
                <a href="tulis_thread.html" class="btn btn-info tooltips btn-shadow d-inline-block"
                    data-toggle="tooltip" title="" data-original-title="Tulis Thread"><i class="icon fa fa-plus mr-1"
                        aria-hidden="true"></i> Buat
                    Thread</a>
            </div>
        </div>
    </div>
</div>

<div class="card mt-4">
    <div class="card-body">
        <div class="border rounded mb-4">
            <div class="row no-gutters">
                <div class="col-12 row no-gutters border-bottom">
                    <div class="col-md-1 col-4 align-center mt-2 mb-2">
                        <img src="./assets/images/avatar_2.jpeg" class="w-50 rounded-circle bg-secondary" alt="...">
                    </div>
                    <div class="col-md-11 col-8 mt-2 mb-2">
                        <p class="card-text mb-0 text-body">Reno Suhendra</p>
                        <p class="card-text text-black-50"><small>Kades Cirayom</small></p>
                    </div>
                    <div class="dropdown text-right position-absolute top-right">
                        <button class="btn btn-link" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <h4 class="mb-0"><i class="icon ion-android-more-horizontal"></i></h4>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">
                                <i class="col-1 icon ion-edit text-muted mr-2"></i>
                                <span class="col-11">Edit</span>
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="col-1 icon ion-android-arrow-down text-muted mr-2"></i>
                                <span class="col-11">Tutup</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 position-relative">
                    <div class="card-body mt-2 mb-3 row no-gutter">
                        <div class="col-md-12">
                            <h4>Ini adalah judul Thread</h4>
                            <div class="mt-3 mb-3 mw-100">
                                <img src="./assets/images/img1.jpg" class="mw-100" alt="...">
                            </div>
                            <p class="card-text">
                                <b>KOTAWARINGIN BARAT</b> - Jika kita ke Pantai Kubu, Kecamatan Kumai, Kabupaten
                                Kotawaringin Barat (Kobar), Provinsi Kalimantan Tengah (Kalteng) dan memandang ke arah
                                laut, akan terlihat semenanjung yang menjorok ke arah laut, itulah Taman Wisata Alam
                                (TWA) Tanjung Keluang.
                            </p>
                            <p>Keluang ini mulai terbuka untuk umum sejak Tahun 2000 saat itu di kelola oleh Dinas
                                Pariwisata Kotawaringin Barat. Seiring berjalannya waktu yang awalnya berstatus kawasan
                                hutan lindung di bawah Kementrian Lingkungan Hidup dan Kehutanan. Tahun 2011 TWA Tanjung
                                Keluang dikelola oleh Pemerintah Daerah Kotawaringin Barat, mulailah direkrut Petugas
                                penyuluh dan lapangan, Ranger dan lain-lain, setelah itu barulah berbenah.</p>

                            <p>Menyebrang dari Pantai Kubu sekitar 30 menit menggunakan kelotok (kapal perahu) ini kita
                                akan disungguhi pemandangan laut Jawa nan luas, sampai di lokasi banyak spot-spot bagus
                                untuk berfoto, spot mancing dan juga spot edukasi penyu. Dengan luas 2.000 hektare
                                Tanjung Keluang terbagi dari zona inti dan zona pemanfaatan, nah yang saat ini boleh
                                kita kunjungi adalah zona pemanfaatan atau bahasa kerennya zona konservasi dan edukasi.
                            </p>

                            <p>Zona inti ini sebenarnya zona yang tidak terbuka untuk umum, kecuali untuk keperluan
                                riset, kenapa tidak terbuka untuk umum? karena ada beberapa hewan di zona ini seperti
                                Beruang madu, Orang Utan, Rangkong, Rusa, Biawak yang dibiarkan hidup bebas disana,
                                khawatir kalo masuk zona inti tidak bisa keluar jadi santapan Beruang Madu. </p>

                            <p>Keistimewaan dari Taman Wisata Alam Tanjung Keluang, terdapat konservasi penyu sisik,
                                selain menjadi tempat persinggahan penyu untuk bertelur, wisatawan juga bisa melepaskan
                                langsung tukik penyu sisik langka dan dilindungi tersebut ke pantai lepas secara
                                langsung. Hal ini juga menjadi daya tarik wisatawan baik domestik maupun mancanegara.
                            </p>
                            <div class="mt-3 text-black-50 text-right"><small>Tanggal Tayang: 12 Maret 2020</small></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{> diskusi}}
    </div>
</div>