<div class="row">
    <div class="col-md-6 col-4">
        <div class="dropdown">
            <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-filter mr-2"></i> <span class="d-none d-md-inline-block">Filter</span>
            </button>
            <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
                <div class="dropdown-item">
                    <div class="form-group row no-gutter w-100">
                        <label for="exampleFormControlSelect1" class="col-2 mt-1"><span class="align-middle">Topik</span></label>
                        <select class="form-control col-10 w-100" id="exampleFormControlSelect1">
                            <option>Seputar Peraturan</option>
                            <option>Keluh Kesah Warga</option>
                        </select>
                    </div>
                </div>
                <div class="dropdown-item">
                    <div class="form-group row no-gutter w-100">
                        <label for="exampleFormControlSelect1" class="col-2 mt-1"><span class="align-middle">Desa</span></label>
                        <select class="form-control col-10 w-100" id="exampleFormControlSelect1">
                            <option>Cisayom</option>
                            <option>Ciroyom</option>
                        </select>
                    </div>
                </div>
                <div class="dropdown-divider"></div>
                <div class="dropdown-item align-right"><button type="button" class="btn btn-primary">TERAPKAN</button></div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-8 text-right">
        <div class="row">
            <div class="col-md-8 col-4">
                <div class="input-group d-none d-md-flex">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i
                                class="metismenu-icon pe-7s-search"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Cari topik" aria-label="Username"
                        aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col-md-4 col-8 text-right">
                <a href="tulis_thread.html" class="btn btn-info btn-lg tooltips btn-shadow d-inline-block"
                    data-toggle="tooltip" title="" data-original-title="Tulis Thread"><i class="icon fa fa-plus mr-1"
                        aria-hidden="true"></i> Buat
                    Thread</a>
            </div>
        </div>
    </div>
</div>

<div class="card mt-4">
    <div class="card-header">
        Seputar Peraturan
    </div>
    <div class="card-body">
        {{> card_thread type="default" channel=WP.Latest total=6 index_start=1 index_end=5}}
    </div>
</div>