{{!-- Modal Komentar --}}
<div class="modal fade" id="komentarModal" tabindex="-1" role="dialog" aria-labelledby="komentarModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Reply</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card card-body">
            <div class="row no-gutters">
                <div class="col-md-4 col-4">
                    <div class="align-center">
                        <img src="./assets/images/avatar_2.jpeg" class="w-50 rounded-circle bg-secondary" alt="...">
                    </div>
                    <div class="align-center mb-2">
                        <p class="card-text mt-1 mb-0 text-body">Reno Suhendra</p>
                        <p class="card-text px-3 text-black-50"><small>Kades Cirayom</small></p>
                    </div>
                </div>
                <div class="col-md-8 col-8 position-relative">
                    <div class="mt-1 mb-1">
                        <div class="col-md-12">
                            <form class="mt-1">
                                <textarea class="form-control" style="height:80px;" id="validationTextarea" placeholder="Tuliskan balasan Anda di sini" required></textarea>
                                <div class="invalid-feedback">
                                Please enter a message in the textarea.
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Batalkan</button>
        <button type="button" class="btn btn-primary">Kirim</button>
      </div>
    </div>
  </div>
</div>