<div class="card">
    <div class="card-body">
        <div id="slider" class="slider">
            <a href="#" class="slider__item media media--image-radius">
                <span class="ratiobox {{#if ratiobox--16_9}}ratiobox--16_9{{/if}} lqd media__image">
                    <img src="./assets/images/img7.jpg" alt="">
                </span>
            </a>
            <a href="#" class="slider__item media media--image-radius">
                <span class="ratiobox {{#if ratiobox--16_9}}ratiobox--16_9{{/if}} lqd media__image">
                    <img src="./assets/images/img1.jpg" alt="">
                </span>
            </a>
            <a href="#" class="slider__item media media--image-radius">
                <span class="ratiobox {{#if ratiobox--16_9}}ratiobox--16_9{{/if}} lqd media__image">
                    <img src="./assets/images/img6.jpg" alt="">
                </span>
            </a>
            <a href="#" class="slider__item media media--image-radius">
                <span class="ratiobox {{#if ratiobox--16_9}}ratiobox--16_9{{/if}} lqd media__image">
                    <img src="./assets/images/img4.jpg" alt="">
                </span>
            </a>
            <a href="#" class="slider__item media media--image-radius">
                <span class="ratiobox {{#if ratiobox--16_9}}ratiobox--16_9{{/if}} lqd media__image">
                    <img src="./assets/images/img3.jpg" alt="">
                </span>
            </a>
        </div>
    </div>
</div>