%_box-style {
	position: relative;
	word-wrap: break-word;
	margin-bottom: $base-spacing*6;
	@include display-flex($flex-direction: column);
	@include color(base-color,black,light-2);
}
%_box-header-style {
	justify-content: space-between;
	@include display-flex($flex-wrap: wrap, $align-items: baseline);
}
%_box-title-style {
	@include color(base-color, black);
	@include font-size(lg);
	@extend %_font-bold;
	&.text-center {
		margin: {
			left: auto;
			right: auto;
		}
	}
}

// GENERAL BOX
.box {
	@extend %_box-style;
	&__header{
		margin-bottom: $base-spacing*4;
		@extend %_box-header-style;
		a {
			padding: 0;
		}
	}
	&__title{
		@extend %_box-title-style;
	}

	&--shadow {
		@include box-shadow();
	}
	&--rounded {
		border: 1px solid get('base-color.black.light-5');
		@extend %_base-radius;
	}
	.media {
		display: block;
	}
}

// SECTION, CHANNEL BOX & WIDGET
.section {
	@extend %_box-style;
	&__header {
		margin-bottom: $base-spacing*3;
		@extend %_box-header-style;
	}
	&__title {
		@extend %_box-title-style;
		.bg-krem-light & {
			// margin: {
			// 	left: 0;
			// 	right: 0;
			// }
			@include mquery(lg) {
				margin: {
					left: auto;
					right: auto;
				}
			}
		}
		&--big {
			margin-bottom: $base-spacing-x;
			@include font-size(xl);
			@include mquery(lg) {
				@include font-size(hero);
			}
			span {
                @extend %_color-orange;
            }
		}
		&--indent {
			@include mquery(lg) {
				padding-left: $base-spacing-x*20;
			}
		}
	}
	&__tentang {
		position: relative;
		z-index: 2;
		@include mquery(md) {
			height: 400px;
			padding-top: 130px;
			&-bg {
				margin-top: -400px;
			}
		}		
		&-wrap {
			margin-top: -$base-spacing*6;
			@include aspect-ratio(16, 15);
			&-content {
				position: absolute;
				left: -20px;
				width: 100%;
				height: 100%;
			}
		}
	}
}

.sticky{
	@include sticky-css(70px);
}