.nav {
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
	@extend %_display-flex-wrap;
	@extend %_font-medium;
	a {
		display: block;
		padding: $base-spacing-y 10px;
	}
	&--center {
		justify-content: center;
		@extend %_display-flex-wrap;
	}
	&--right {
		justify-content: flex-end;
		@extend %_display-flex-wrap;
	}
	.footer-main & {
		margin-top: $base-spacing*2;
		@include mquery(sm) {
			margin-top: 0;
		}
	}
	&__item {
		position: relative;
		padding: 0;

		// preference
		.footer-main & {
			&:before {
				position: absolute;
				content: "|";
				left: 0;
				top: $base-spacing*2;
				@include mquery(sm) {
					top: $base-spacing-y;
				}
			}
			&:first-child {
				&:before {
					content: "";
				}
			}
			&:last-child a {
				@if $config-responsive-web {
					@include mquery(md) {
						padding-right: 0;
					}
				}
			}
		}
		a {
			position: relative;
			.navbar--primary & {
				padding: $base-spacing*2;
				@if $config-responsive-web {
					@include mquery(xl) {
						padding: $base-spacing*2 10px;
					}
				}
				@if $config-responsive-web {
					@include mquery(xl) {
						&:before {
							content: "";
							position: absolute;
							left: 50%;
							right: 50%;
							bottom: -14px;
							height: 4px;
							@include transition(all 0.3s ease-in-out 0s);
						} 
						&:hover:before, &.active:before {
							left: 10px;
							right: 10px;
							background: $base-hover-color;
						}
					}
				}
				&.active {
					color: $base-hover-color;
				}
			}
			.footer-main & {
				padding: $base-spacing*2 $base-spacing-y - 2;
				@include color(base-color, black, light-3);
				&:hover {
					@include color(base-color, black, light-2);
				}
				@include mquery(sm) {
					padding: $base-spacing-y $base-spacing-y - 2;
				}
			}
		}
	}
	&-right {
		position: relative;
		@include display-flex($align-items: center);
		&__hamburger {
			display: block;
			width: 45px;
	    	height: 36px;
	    	outline: none;
	    	padding: $base-spacing-y;
	    	margin-right: $base-spacing;
	    	@extend %_base-radius;
	    	&:hover, .js-nav-hamburger-open & {
				@include color-bg(base-color, white, dark-1);
	    	}
	    	&:focus, .js-nav-hamburger-open & {
	    		outline: none;
	    	}
			> span {
		    	position: relative;
			    display: block;
			    height: 2px;
			    margin: auto 0 4px;
			    top: 0;
			    @include transition(all 0.3s ease-in-out 0s);
			    @include color-bg(brand-color, orange, light-1);
			    &:nth-child(1) {
			    	.js-nav-hamburger-open & {
						top: 6px;
						@include transform(rotate(135deg));
			    	}
			    }
			    &:nth-child(2) {
			    	left: 0;
			    	width: 70%;
			    	.js-nav-hamburger-open & {
			    		left: -150px;
			    		width: 100%;
			    		@include opacity(0);
			    	}
			    }
			    &:nth-child(3) {
			    	width: 85%;
			    	.js-nav-hamburger-open & {
						top: -6px;
						width: 100%;
						@include transform(rotate(-135deg));
			    	}
			    }
		    }
			@if $config-responsive-web {
				@include mquery(xl) {
					display: none;
				}
			}
		}
		&__search {
			padding: $base-spacing*2;
			width: 36px;
    		height: 36px;
    		text-align: center;
			@include font-size(xs, icon);
			@extend %_base-radius;
			&:hover, &:focus, .js-form-search-open & {
				outline: none;
				@include color-bg(base-color, white, dark-1);
	    	}
			.icon {
				@include color(base-color, black, light-4);
			}
		}
	}

	.navbar--primary & {
		position: fixed;
		top: 60px;
		bottom: 0;
		right: 0;
		flex-flow: column;
		width: 200px;
		padding: 0 $base-spacing*2 $base-spacing*2 $base-spacing*2;
		// @include opacity(0);
		@include color-bg(base-color, white);
		@include box-shadow();
		@include transition(all 0.3s ease-in-out 0s);
		@include transform(translateX(100%));
		.js-nav-hamburger-open & {
			@include transform(translateX(0%));
		}
		@if $config-responsive-web {
			@include mquery(sm) {
				bottom: auto;
			}
			@include mquery(xl) {
				position: relative;	
				top: auto;
				right: auto;
				width: auto;
				max-height: 800px;
				visibility: visible;
				flex-direction: unset;
				box-shadow: none;	
				border-radius: 0;
				padding: 0;	
				@include transform(translateX(0%));
			}
		}
	}
}
.navbar {
	position: relative;
	justify-content: space-between;
	@include font-size(xxs);
	@include display-flex($align-items: center);
	&--primary {
		min-height: 60px;
	}
	&-logo {
		display: inline-block;
	    line-height: inherit;
		white-space: nowrap;
		img {
			height: 35px;
		}
	}
	.form-search {
		position: absolute;
		right: 0;
		height: 36px;
		width: 0;
		overflow: hidden;
		align-items: center;
		justify-content: space-between;
		@include transition(all 0.3s ease-in-out 0s);
		@include opacity(0);
		@extend %_display-flex;
		@extend %_base-radius;
		.js-form-search-open & {
			width: 296px;
			@include opacity(1);
			@if $config-responsive-web {
				@include mquery(sm) {
					width: map-get($grid_breakpoints, sm) - 230px;
				}
				@include mquery(md) {
					width: map-get($grid_breakpoints, sm) - 70px;
				}
				@include mquery(lg) {
					width: map-get($grid_breakpoints, md) - 50px;
				}
				@include mquery(xl) {
					width: map-get($grid_breakpoints, lg) - 140px;
				}
			}
		}
		&__input {
			height: 36px;
			flex: 1;
			border: none;
			margin: {
				right: -$base-spacing*2.5;
				bottom: 0;
			} 
			padding: $base-spacing*2 $base-spacing*3;
			@include color-bg(base-color, white, dark-1);
			@include color(base-color, black, light-2);
		}
		&__btn {
			width: 36px;
			height: 36px;
			background: none;
			border: none;
			@include font-size(xs, icon);
		}
	}
}
.js-nav-hamburger-open {
	overflow: hidden;
	@if $config-responsive-web {
		@include mquery(xl) {
			overflow: unset;
		}
	}
}
.js-overlay {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	@include background-opacity(#000, 0.6);
	@include opacity(0);
	@include transition(all 0.2s ease-in-out 0s);
	.js-nav-hamburger-open & {
		@include opacity(1);
	}
	@if $config-responsive-web {
		@include mquery(xl) {
			display: none;
		}
	}
}