@charset "UTF-8";

// Default Variables

// Slick icon entity codes outputs the following
// "\2190" outputs ascii character "←"
// "\2192" outputs ascii character "→"
// "\2022" outputs ascii character "•"

// $slick-font-path: "./fonts/" !default;
// $slick-font-family: "slick" !default;
// $slick-loader-path: "./" !default;
$slick-arrow-color: white !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "\68" !default;
$slick-next-character: "\69" !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

/* Slider */

.slick-list {
    .slick-loading & {
        background: #fff slick-image-url("../images/ajax-loader.gif") center center no-repeat;
    }
}
.slick-center {
    transform: scale(1);
}
#sliderSale, #sliderProduct {
    margin:0 -13px;
    .slick-next, .slick-prev {
        top:40%;
    }
}
/* Arrows */

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    // height: 20px;
    // width: 20px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    // padding: 10px;
    margin-top: -3px;
    border: none;
    outline: none;
    z-index: 1;
    &:hover, &:focus {
        outline: none;
        background: transparent;
        color: transparent;
        &:before {
            opacity: $slick-opacity-on-hover;
        }
    }
    &.slick-disabled:before {
        opacity: $slick-opacity-not-active;
    }
    &:before {
        font-family: $base-font-icons;
        @include font-size(md, icon);
        line-height: 1;
        color: $slick-arrow-color;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
        .arrow_dark & {
            color: black;
        }
        .slider--nav & {
            @extend %_color-orange-light;
        }
    }
    .slider--nav & {
        padding: 0;
        @include border-radius(sm);
        @include color-bg(base-color, white);
    }
}

.slick-prev {
    left: $base-spacing;
    @if $config-responsive-web {
        @include mquery(sm) {
            left: $base-spacing*2;
        }
    }
    [dir="rtl"] & {
        left: auto;
        right: $base-spacing*2;
    }
    &:before {
        content: $slick-prev-character;
        .slider--nav & {
            content: "\71";
        }
        [dir="rtl"] & {
            content: $slick-next-character;
        }
    }
    .slider--nav & {
        left: 4px;
    }
}

.slick-next {
    right:$base-spacing;
    @if $config-responsive-web {
        @include mquery(sm) {
            right: $base-spacing*2;
        }
    }
    [dir="rtl"] & {
        left: $base-spacing*2;
        right: auto;
    }
    &:before {
        content: $slick-next-character;
        .slider--nav & {
            content: "\72";
        }
        [dir="rtl"] & {
            content: $slick-prev-character;
        }
    }
    .slider--nav & {
        right: 4px;
    }
}

/* Dots */

.slick-dotted.slick-slider {
    // margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    z-index: 1;
    li {
        position: relative;
        display: inline-block;
        height: 10px;
        width: 10px;
        margin: 0 7px;
        padding: 0;
        cursor: pointer;
        button {
            border: 1px solid #979797;
            background: #fff;
            display: block;
            height: 10px;
            width: 10px;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            padding: 0;
            cursor: pointer;
            @extend %_circle;
            &:hover, &:focus {
                outline: none;
                // &:before {
                //     opacity: $slick-opacity-on-hover;
                // }
            }
            // &:before {
            //     position: absolute;
            //     top: 0;
            //     left: 0;
            //     content: $slick-dot-character;
            //     width: 20px;
            //     height: 20px;
            //     // font-family: $slick-font-family;
            //     font-size: $slick-dot-size;
            //     line-height: 20px;
            //     text-align: center;
            //     color: $slick-dot-color;
            //     opacity: $slick-opacity-not-active;
            //     -webkit-font-smoothing: antialiased;
            //     -moz-osx-font-smoothing: grayscale;
            // }
        }
        // &.slick-active button:before {
        //     color: $slick-dot-color-active;
        //     opacity: $slick-opacity-default;
        // }
        &.slick-active {
            button {
                background: #d8d8d8;
                opacity: $slick-opacity-on-hover;
            }
        }
    }
}

/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    margin-left: -($base-spacing)-2;
    margin-right: -($base-spacing)-2;
    @if $config-responsive-web {
        @include mquery(sm) {
            margin: 0;
        }
    }
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    @include transition(all 0.3s ease-in-out 0s);
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }

    // 
    .slider--nav & {
        @include opacity(0.65);
    }
    &:hover {
        .slider--nav & {
            @include opacity(1);
        }
    }
}
.slick-current {
    .slider--nav & {
        @include opacity(1);
    }
}
.slick-arrow.slick-hidden {
    display: none;
}

.slick-lightbox{position:fixed;top:0;left:0;z-index:99999999;width:100%;height:100%;background:black;-webkit-transition:opacity 0.5s ease;transition:opacity 0.5s ease}.slick-lightbox .slick-loading .slick-list{background-color:transparent}.slick-lightbox .slick-prev{left:15px}.slick-lightbox .slick-next{right:15px}.slick-lightbox-hide{opacity:0}.slick-lightbox-hide.slick-lightbox-ie{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0)}.slick-lightbox-hide-init{position:absolute;top:-9999px;opacity:0}.slick-lightbox-hide-init.slick-lightbox-ie{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0)}.slick-lightbox-inner{position:fixed;top:0;left:0;width:100%;height:100%}.slick-lightbox-slick-item{text-align:center;overflow:hidden}.slick-lightbox-slick-item:before{content:'';display:inline-block;height:100%;vertical-align:middle;margin-right:-0.25em}.slick-caption-bottom .slick-lightbox-slick-item .slick-lightbox-slick-item .slick-lightbox-slick-caption{position:absolute;bottom:0;left:0;text-align:center;width:100%;margin-bottom:20px}.slick-caption-dynamic .slick-lightbox-slick-item .slick-lightbox-slick-item .slick-lightbox-slick-caption{display:block;text-align:center}.slick-lightbox-slick-item-inner{display:inline-block;vertical-align:middle;max-width:90%;max-height:90%}.slick-lightbox-slick-img{margin:0 auto;display:block;max-width:90%;max-height:90%}.slick-lightbox-slick-caption{margin:10px 0 0;color:white}.slick-lightbox-close{position:absolute;top:0;right:15px;display:block;height:20px;width:20px;line-height:0;font-size:0;cursor:pointer;background:transparent;color:transparent;padding:0;border:none}.slick-lightbox-close:focus{outline:none}.slick-lightbox-close:before{font-family:"slick";font-size:40px;line-height:1;color:white;opacity:0.85;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;content:'×'}
