<div class="border rounded mb-4">
    <div class="card-header">TULIS KOMENTAR</div>
    <div class="row no-gutter py-3 position-relative border-top">
        <div class="col-sm-2 text-center mb-3">
            <img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="rounded-circle">
            <div class="review-block-name"><a href="#">nktailor</a></div>
            <div class="review-block-date">Kepala Desa Ciroyom</div>
        </div>
        <div class="col-sm-10">
            <form class="mt-1">
                <div class="mb-2">
                    <textarea class="form-control" style="height:80px;" id="validationTextarea" placeholder=" " required></textarea>
                    <div class="invalid-feedback">
                    Please enter a message in the textarea.
                    </div>
                </div>
                <div class="mb-2 text-right">
                    <button type="button" class="btn btn-primary">Kirim</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="border rounded mb-4">
        <div class="row no-gutter py-3 position-relative border-top">
            <div class="col-sm-2 text-center mb-3">
                <img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="rounded-circle">
                <div class="review-block-name"><a href="#">nktailor</a></div>
                <div class="review-block-date text-muted">Kepala Desa Ciroyom</div>
            </div>
            <div class="col-sm-10">
                <div class="review-block-title">this was nice in buy</div>
                <div class="review-block-description pb-1">this was nice in buy. this was nice in buy. this was nice in
                    buy. this was nice in buy this was nice in buy this was nice in buy this was nice in buy this
                    was nice in buy</div>
                <div class="row mt-1">
                    <p class="card-text text-muted col-md-6 col-6">
                        <small>12 Maret 2020 | 20:00</small>
                    </p>
                    <div class="card-text text-muted col-md-6 col-12 text-right">
                        <button class="btn btn-link btn-lg py-0 px-0" type="button" data-toggle="modal" data-target="#komentarModal">
                            <h4><i class="ion-reply mr-2 text-black"></i></h4>
                        </button>
                    </div>
                </div>
            </div>
            <div class="dropdown text-right position-absolute top-right">
                <button class="btn btn-link" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <h4 class="mb-0"><i class="icon ion-android-more-horizontal"></i></h4>
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">
                        <i class="col-1 icon ion-bookmark text-muted mr-2"></i>
                        <span class="col-11">Bookmark</span>
                    </a>
                    <a class="dropdown-item" href="#">
                        <i class="col-1 icon ion-information-circled text-muted mr-2"></i>
                        <span class="col-11">Laporkan</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row no-gutter py-3 position-relative border-top">
            <div class="col-sm-2 text-center mb-3">
                <img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="rounded-circle">
                <div class="review-block-name"><a href="#">nktailor</a></div>
                <div class="review-block-date text-muted">Kepala Desa Ciroyom</div>
            </div>
            <div class="col-sm-10">
                <div class="review-block-title">this was nice in buy</div>
                <div class="review-block-description pb-1">this was nice in buy. this was nice in buy. this was nice in
                    buy. this was nice in buy this was nice in buy this was nice in buy this was nice in buy this
                    was nice in buy</div>
                <div class="row mt-1">
                    <p class="card-text text-muted col-md-6 col-6">
                        <small>12 Maret 2020 | 20:00</small>
                    </p>
                    <div class="card-text text-muted col-md-6 col-12 text-right">
                        <button class="btn btn-link btn-lg py-0 px-0" type="button" data-toggle="modal" data-target="#komentarModal">
                            <h4><i class="ion-reply mr-2 text-black"></i></h4>
                        </button>
                    </div>
                </div>
            </div>
            <div class="dropdown text-right position-absolute top-right">
                <button class="btn btn-link" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <h4 class="mb-0"><i class="icon ion-android-more-horizontal"></i></h4>
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">
                        <i class="col-1 icon ion-bookmark text-muted mr-2"></i>
                        <span class="col-11">Bookmark</span>
                    </a>
                    <a class="dropdown-item" href="#">
                        <i class="col-1 icon ion-information-circled text-muted mr-2"></i>
                        <span class="col-11">Laporkan</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row no-gutter py-3 position-relative border-top">
            <div class="col-sm-2 text-center mb-3">
                <img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="rounded-circle">
                <div class="review-block-name"><a href="#">nktailor</a></div>
                <div class="review-block-date text-muted">Kepala Desa Ciroyom</div>
            </div>
            <div class="col-sm-10">
                <div class="review-block-title">this was nice in buy</div>
                <div class="review-block-description pb-1">this was nice in buy. this was nice in buy. this was nice in
                    buy. this was nice in buy this was nice in buy this was nice in buy this was nice in buy this
                    was nice in buy</div>
                <div class="row mt-1">
                    <p class="card-text text-muted col-md-6 col-6">
                        <small>12 Maret 2020 | 20:00</small>
                    </p>
                    <div class="card-text text-muted col-md-6 col-12 text-right">
                        <button class="btn btn-link btn-lg py-0 px-0" type="button" data-toggle="modal" data-target="#komentarModal">
                            <h4><i class="ion-reply mr-2 text-black"></i></h4>
                        </button>
                    </div>
                </div>
            </div>
            <div class="dropdown text-right position-absolute top-right">
                <button class="btn btn-link" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <h4 class="mb-0"><i class="icon ion-android-more-horizontal"></i></h4>
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">
                        <i class="col-1 icon ion-bookmark text-muted mr-2"></i>
                        <span class="col-11">Bookmark</span>
                    </a>
                    <a class="dropdown-item" href="#">
                        <i class="col-1 icon ion-information-circled text-muted mr-2"></i>
                        <span class="col-11">Laporkan</span>
                    </a>
                </div>
            </div>
        </div>
    <div class="row no-gutter">
        <div class="col-sm-2"></div>
        <div class="col-sm-10 pull-right">
                <div class="row no-gutter py-3 position-relative border-top">
                    <div class="col-sm-2 text-center mb-3">
                        <img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="rounded-circle">
                        <div class="review-block-name"><a href="#">nktailor</a></div>
                        <div class="review-block-date text-muted">Kepala Desa Ciroyom</div>
                    </div>
                    <div class="col-sm-10">
                        <div class="review-block-title">this was nice in buy</div>
                        <div class="review-block-description pb-1">this was nice in buy. this was nice in buy. this was nice in
                            buy. this was nice in buy this was nice in buy this was nice in buy this was nice in buy this
                            was nice in buy</div>
                        <div class="row mt-1">
                            <p class="card-text text-muted col-md-6 col-6">
                                <small>12 Maret 2020 | 20:00</small>
                            </p>
                            <div class="card-text text-muted col-md-6 col-12 text-right">
                                <button class="btn btn-link btn-lg py-0 px-0" type="button" data-toggle="modal" data-target="#komentarModal">
                                    <h4><i class="ion-reply mr-2 text-black"></i></h4>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown text-right position-absolute top-right">
                        <button class="btn btn-link" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <h4 class="mb-0"><i class="icon ion-android-more-horizontal"></i></h4>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">
                                <i class="col-1 icon ion-bookmark text-muted mr-2"></i>
                                <span class="col-11">Bookmark</span>
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="col-1 icon ion-information-circled text-muted mr-2"></i>
                                <span class="col-11">Laporkan</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row no-gutter py-3 position-relative border-top">
                    <div class="col-sm-2 text-center mb-3">
                        <img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="rounded-circle">
                        <div class="review-block-name"><a href="#">nktailor</a></div>
                        <div class="review-block-date text-muted">Kepala Desa Ciroyom</div>
                    </div>
                    <div class="col-sm-10">
                        <div class="review-block-title">this was nice in buy</div>
                        <div class="review-block-description pb-1">this was nice in buy. this was nice in buy. this was nice in
                            buy. this was nice in buy this was nice in buy this was nice in buy this was nice in buy this
                            was nice in buy</div>
                        <div class="row mt-1">
                            <p class="card-text text-muted col-md-6 col-6">
                                <small>12 Maret 2020 | 20:00</small>
                            </p>
                            <div class="card-text text-muted col-md-6 col-12 text-right">
                                <button class="btn btn-link btn-lg py-0 px-0" type="button" data-toggle="modal" data-target="#komentarModal">
                                    <h4><i class="ion-reply mr-2 text-black"></i></h4>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown text-right position-absolute top-right">
                        <button class="btn btn-link" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <h4 class="mb-0"><i class="icon ion-android-more-horizontal"></i></h4>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">
                                <i class="col-1 icon ion-bookmark text-muted mr-2"></i>
                                <span class="col-11">Bookmark</span>
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="col-1 icon ion-information-circled text-muted mr-2"></i>
                                <span class="col-11">Laporkan</span>
                            </a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>