<!-- Modal form -->
	<div id="modal-date" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
		aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 id="general-modal-form-title" class="modal-title">Custom Date</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body" id="general-modal-form-body">
                    <form class="row w-100">
                        <div class="col-6">
                                <label for="startDate d-block">Start Date</label>
                                <div class="input-group">
                                    <input type="date" id="startDate" class="form-control" aria-label="Start Date">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="icon ion-android-calendar"></i></span>
                                    </div>
                                </div>
                        </div>
                            <div class="col-6">
                                <label for="startDate d-block">End Date</label>
                                <div class="input-group">
                                    <input type="date" id="startDate" class="form-control" aria-label="Start Date">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="icon ion-android-calendar"></i></span>
                                    </div>
                                </div>
                        </div>
                    </form>
				</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Batalkan</button>
                    <button type="button" class="btn btn-primary">Terapkan</button>
                </div>
			</div>
		</div>
	</div>