<!-- Modal Report -->
<div id="modal-produk-terlaris" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="general-modal-form-title" class="modal-title">Produk Terlaris</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" id="general-modal-form-body">
                <select name="table_length" aria-controls="table" class="custom-select w-100 mb-3 custom-select-sm form-control form-control-sm">
                    <option value="10">30 Hari Terakhir</option>
                    <option value="25">1 Bulan Terakhir</option>
                    <option value="50">1 Tahun Terakhir</option>
                    <option value="100">Terbanyak Gagal</option>
                </select>
                    <article class="row py-3 px-0 border-top">
                        <div class="col-md-2 mb-2">
                            <span class="ratiobox lqd">
                                <img src="./assets/images/img6.jpg" alt="">
                            </span>
                        </div>
                        <div class="col-md-10">
                            <p class="mb-1"><b>Nama Barang</b></p>
                            <p class="mb-1 text-primary">Rp. 177.000</p>
                        </div>
                    </article>
                    <article class="row py-3 px-0 border-top">
                        <div class="col-md-2 mb-2">
                            <span class="ratiobox lqd">
                                <img src="./assets/images/img6.jpg" alt="">
                            </span>
                        </div>
                        <div class="col-md-10">
                            <p class="mb-1"><b>Nama Barang</b></p>
                            <p class="mb-1 text-primary">Rp. 177.000</p>
                        </div>
                    </article>
                    <article class="row py-3 px-0 border-top">
                        <div class="col-md-2 mb-2">
                            <span class="ratiobox lqd">
                                <img src="./assets/images/img6.jpg" alt="">
                            </span>
                        </div>
                        <div class="col-md-10">
                            <p class="mb-1"><b>Nama Barang</b></p>
                            <p class="mb-1 text-primary">Rp. 177.000</p>
                        </div>
                    </article>
                    <article class="row py-3 px-0 border-top">
                        <div class="col-md-2 mb-2">
                            <span class="ratiobox lqd">
                                <img src="./assets/images/img6.jpg" alt="">
                            </span>
                        </div>
                        <div class="col-md-10">
                            <p class="mb-1"><b>Nama Barang</b></p>
                            <p class="mb-1 text-primary">Rp. 177.000</p>
                        </div>
                    </article>
                    <article class="row py-3 px-0 border-top">
                        <div class="col-md-2 mb-2">
                            <span class="ratiobox lqd">
                                <img src="./assets/images/img6.jpg" alt="">
                            </span>
                        </div>
                        <div class="col-md-10">
                            <p class="mb-1"><b>Nama Barang</b></p>
                            <p class="mb-1 text-primary">Rp. 177.000</p>
                        </div>
                    </article>
            </div>
        </div>
    </div>
</div>
<div id="modal-produk-minat" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="general-modal-form-title" class="modal-title">Produk Paling Diminati</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" id="general-modal-form-body">
                <select name="table_length" aria-controls="table" class="custom-select w-100 mb-3 custom-select-sm form-control form-control-sm">
                    <option value="10">30 Hari Terakhir</option>
                    <option value="25">1 Bulan Terakhir</option>
                    <option value="50">1 Tahun Terakhir</option>
                    <option value="100">Terbanyak Gagal</option>
                </select>
                    <article class="row py-3 px-0 border-top">
                        <div class="col-md-2 mb-2">
                            <span class="ratiobox lqd">
                                <img src="./assets/images/img6.jpg" alt="">
                            </span>
                        </div>
                        <div class="col-md-10">
                            <p class="mb-1"><b>Nama Barang</b></p>
                            <p class="mb-1 text-primary">Rp. 177.000</p>
                        </div>
                    </article>
                    <article class="row py-3 px-0 border-top">
                        <div class="col-md-2 mb-2">
                            <span class="ratiobox lqd">
                                <img src="./assets/images/img6.jpg" alt="">
                            </span>
                        </div>
                        <div class="col-md-10">
                            <p class="mb-1"><b>Nama Barang</b></p>
                            <p class="mb-1 text-primary">Rp. 177.000</p>
                        </div>
                    </article>
                    <article class="row py-3 px-0 border-top">
                        <div class="col-md-2 mb-2">
                            <span class="ratiobox lqd">
                                <img src="./assets/images/img6.jpg" alt="">
                            </span>
                        </div>
                        <div class="col-md-10">
                            <p class="mb-1"><b>Nama Barang</b></p>
                            <p class="mb-1 text-primary">Rp. 177.000</p>
                        </div>
                    </article>
                    <article class="row py-3 px-0 border-top">
                        <div class="col-md-2 mb-2">
                            <span class="ratiobox lqd">
                                <img src="./assets/images/img6.jpg" alt="">
                            </span>
                        </div>
                        <div class="col-md-10">
                            <p class="mb-1"><b>Nama Barang</b></p>
                            <p class="mb-1 text-primary">Rp. 177.000</p>
                        </div>
                    </article>
                    <article class="row py-3 px-0 border-top">
                        <div class="col-md-2 mb-2">
                            <span class="ratiobox lqd">
                                <img src="./assets/images/img6.jpg" alt="">
                            </span>
                        </div>
                        <div class="col-md-10">
                            <p class="mb-1"><b>Nama Barang</b></p>
                            <p class="mb-1 text-primary">Rp. 177.000</p>
                        </div>
                    </article>
            </div>
        </div>
    </div>
</div>
<div id="modal-pelanggan-teratas" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="general-modal-form-title" class="modal-title">Pelanggan Teratas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" id="general-modal-form-body">
                <select name="table_length" aria-controls="table" class="custom-select w-100 mb-3 custom-select-sm form-control form-control-sm">
                    <option value="10">30 Hari Terakhir</option>
                    <option value="25">1 Bulan Terakhir</option>
                    <option value="50">1 Tahun Terakhir</option>
                    <option value="100">Terbanyak Gagal</option>
                </select>
                <div class="">
                    <div class="row">
                        <div class="col-md-5 col-12">
                            
                        </div>
                        <div class="col-md-4 col-6 py-3">
                            <div class="mb-2">
                                <h6 class="mb-0">Pembelian</h6>
                            </div>
                        </div>
                        <div class="col-md-3 col-6 py-3">
                            <div class="mb-2">
                                <h6 class="mb-0 text-center">Transaksi</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border-top">
                    <div class="row">
                        <div class="col-md-5 col-12">
                            <div class="row no-gutter py-3">
                                <div class="col-md-4 mb-2">
                                    <span class="ratiobox lqd">
                                        <img src="./assets/images/img5.jpg" alt="">
                                    </span>
                                </div>
                                <div class="col-md-8">
                                    <p class="mb-1"><b>Atta Halilintar</b></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-6 py-3">
                            <div class="mb-2">
                                <h6 class="text-primary">Rp. 116.700.000</h6>
                            </div>
                        </div>
                        <div class="col-md-3 col-6 py-3">
                            <div class="mb-2">
                                <h6 class="text-danger text-center">1</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border-top">
                    <div class="row">
                        <div class="col-md-5 col-12">
                            <div class="row no-gutter py-3">
                                <div class="col-md-4 mb-2">
                                    <span class="ratiobox lqd">
                                        <img src="./assets/images/img5.jpg" alt="">
                                    </span>
                                </div>
                                <div class="col-md-8">
                                    <p class="mb-1"><b>Atta Halilintar</b></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-6 py-3">
                            <div class="mb-2">
                                <h6 class="text-primary">Rp. 116.700.000</h6>
                            </div>
                        </div>
                        <div class="col-md-3 col-6 py-3">
                            <div class="mb-2">
                                <h6 class="text-danger text-center">1</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border-top">
                    <div class="row">
                        <div class="col-md-5 col-12">
                            <div class="row no-gutter py-3">
                                <div class="col-md-4 mb-2">
                                    <span class="ratiobox lqd">
                                        <img src="./assets/images/img5.jpg" alt="">
                                    </span>
                                </div>
                                <div class="col-md-8">
                                    <p class="mb-1"><b>Atta Halilintar</b></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-6 py-3">
                            <div class="mb-2">
                                <h6 class="text-primary">Rp. 116.700.000</h6>
                            </div>
                        </div>
                        <div class="col-md-3 col-6 py-3">
                            <div class="mb-2">
                                <h6 class="text-danger text-center">1</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border-top">
                    <div class="row">
                        <div class="col-md-5 col-12">
                            <div class="row no-gutter py-3">
                                <div class="col-md-4 mb-2">
                                    <span class="ratiobox lqd">
                                        <img src="./assets/images/img5.jpg" alt="">
                                    </span>
                                </div>
                                <div class="col-md-8">
                                    <p class="mb-1"><b>Atta Halilintar</b></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-6 py-3">
                            <div class="mb-2">
                                <h6 class="text-primary">Rp. 6.700.000</h6>
                            </div>
                        </div>
                        <div class="col-md-3 col-6 py-3">
                            <div class="mb-2">
                                <h6 class="text-danger text-center">1</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border-top">
                    <div class="row">
                        <div class="col-md-5 col-12">
                            <div class="row no-gutter py-3">
                                <div class="col-md-4 mb-2">
                                    <span class="ratiobox lqd">
                                        <img src="./assets/images/img5.jpg" alt="">
                                    </span>
                                </div>
                                <div class="col-md-8">
                                    <p class="mb-1"><b>Atta Halilintar</b></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-6 py-3">
                            <div class="mb-2">
                                <h6 class="text-primary">Rp. 116.700.000</h6>
                            </div>
                        </div>
                        <div class="col-md-3 col-6 py-3">
                            <div class="mb-2">
                                <p class="mb-0 text-center">Transaksi</p>
                                <h6 class="text-danger text-center">1</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border-top">
                    <div class="row">
                        <div class="col-md-5 col-12">
                            <div class="row no-gutter py-3">
                                <div class="col-md-4 mb-2">
                                    <span class="ratiobox lqd">
                                        <img src="./assets/images/img5.jpg" alt="">
                                    </span>
                                </div>
                                <div class="col-md-8">
                                    <p class="mb-1"><b>Atta Halilintar</b></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-6 py-3">
                            <div class="mb-2">
                                <h6 class="text-primary">Rp. 116.700.000</h6>
                            </div>
                        </div>
                        <div class="col-md-3 col-6 py-3">
                            <div class="mb-2">
                                <h6 class="text-danger text-center">1</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border-top">
                    <div class="row">
                        <div class="col-md-5 col-12">
                            <div class="row no-gutter py-3">
                                <div class="col-md-4 mb-2">
                                    <span class="ratiobox lqd">
                                        <img src="./assets/images/img5.jpg" alt="">
                                    </span>
                                </div>
                                <div class="col-md-8">
                                    <p class="mb-1"><b>Atta Halilintar</b></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-6 py-3">
                            <div class="mb-2">
                                <h6 class="text-primary">Rp. 116.700.000</h6>
                            </div>
                        </div>
                        <div class="col-md-3 col-6 py-3">
                            <div class="mb-2">
                                <h6 class="text-danger text-center">1</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal-desa-teratas" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="general-modal-form-title" class="modal-title">Desa Teratas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" id="general-modal-form-body">
                <select name="table_length" aria-controls="table" class="custom-select w-100 mb-3 custom-select-sm form-control form-control-sm">
                    <option value="10">30 Hari Terakhir</option>
                    <option value="25">1 Bulan Terakhir</option>
                    <option value="50">1 Tahun Terakhir</option>
                    <option value="100">Terbanyak Gagal</option>
                </select>
                <div class="border-top">
                                                <div class="row">
                                                    <div class="col-md-5 col-12">
                                                        <div class="row no-gutter py-3">
                                                            <div class="col-md-4 mb-2">
                                                                <span class="ratiobox lqd">
                                                                    <img src="./assets/images/1576238256-5364eb2177fce8ccded7d374d90e085d.png" alt="">
                                                                </span>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <p class="mb-1"><b>Cisayong</b></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-6 py-3">
                                                        <div class="mb-2">
                                                            <p class="mb-0">Pembelian</p>
                                                            <h6 class="text-primary">Rp. 6.700.000</h6>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-6 py-3">
                                                        <div class="mb-2">
                                                            <p class="mb-0 text-center">Transaksi</p>
                                                            <h6 class="text-danger text-center">1</h6>
                                                        </div>
                                                    </div>
                                                </div>
                </div>
                <div class="border-top">
                    <div class="row">
                        <div class="col-md-5 col-12">
                            <div class="row no-gutter py-3">
                                <div class="col-md-4 mb-2">
                                    <span class="ratiobox lqd">
                                        <img src="./assets/images/1576238256-5364eb2177fce8ccded7d374d90e085d.png" alt="">
                                    </span>
                                </div>
                                <div class="col-md-8">
                                    <p class="mb-1"><b>Cicayur</b></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-6 py-3">
                            <div class="mb-2">
                                <p class="mb-0">Pembelian</p>
                                <h6 class="text-primary">Rp. 116.700.000</h6>
                            </div>
                        </div>
                        <div class="col-md-3 col-6 py-3">
                            <div class="mb-2">
                                <p class="mb-0 text-center">Transaksi</p>
                                <h6 class="text-danger text-center">1</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border-top">
                    <div class="row">
                        <div class="col-md-5 col-12">
                            <div class="row no-gutter py-3">
                                <div class="col-md-4 mb-2">
                                    <span class="ratiobox lqd">
                                        <img src="./assets/images/1576238256-5364eb2177fce8ccded7d374d90e085d.png" alt="">
                                    </span>
                                </div>
                                <div class="col-md-8">
                                    <p class="mb-1"><b>Ciroyom</b></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-6 py-3">
                            <div class="mb-2">
                                <p class="mb-0">Pembelian</p>
                                <h6 class="text-primary">Rp. 116.700.000</h6>
                            </div>
                        </div>
                        <div class="col-md-3 col-6 py-3">
                            <div class="mb-2">
                                <p class="mb-0 text-center">Transaksi</p>
                                <h6 class="text-danger text-center">1</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border-top">
                    <div class="row">
                        <div class="col-md-5 col-12">
                            <div class="row no-gutter py-3">
                                <div class="col-md-4 mb-2">
                                    <span class="ratiobox lqd">
                                        <img src="./assets/images/1576238256-5364eb2177fce8ccded7d374d90e085d.png" alt="">
                                    </span>
                                </div>
                                <div class="col-md-8">
                                    <p class="mb-1"><b>Desa A</b></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-6 py-3">
                            <div class="mb-2">
                                <p class="mb-0">Pembelian</p>
                                <h6 class="text-primary">Rp. 116.700.000</h6>
                            </div>
                        </div>
                        <div class="col-md-3 col-6 py-3">
                            <div class="mb-2">
                                <p class="mb-0 text-center">Transaksi</p>
                                <h6 class="text-danger text-center">1</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>