<!-- Modal Report -->
<div id="modal-produk-terlaris" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="general-modal-form-title" class="modal-title">Produk Terlaris</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" id="general-modal-form-body">
                <select name="table_length" aria-controls="table" class="custom-select w-100 mb-3 custom-select-sm form-control form-control-sm">
                    <option value="10">30 Hari Terakhir</option>
                    <option value="25">1 Bulan Terakhir</option>
                    <option value="50">1 Tahun Terakhir</option>
                    <option value="100">Terbanyak Gagal</option>
                </select>
                    <article class="row py-3 px-0 border-top">
                        <div class="col-md-2 mb-2">
                            <span class="ratiobox lqd">
                                <img src="./assets/images/img6.jpg" alt="">
                            </span>
                        </div>
                        <div class="col-md-10">
                            <p class="mb-1"><b>Nama Barang</b></p>
                            <p class="mb-1 text-primary">Rp. 177.000</p>
                            <p class="text-muted"><small>Qty: 1 | 500gram</small></p>
                        </div>
                    </article>
                    <article class="row py-3 px-0 border-top">
                        <div class="col-md-2 mb-2">
                            <span class="ratiobox lqd">
                                <img src="./assets/images/img6.jpg" alt="">
                            </span>
                        </div>
                        <div class="col-md-10">
                            <p class="mb-1"><b>Nama Barang</b></p>
                            <p class="mb-1 text-primary">Rp. 177.000</p>
                            <p class="text-muted"><small>Qty: 1 | 500gram</small></p>
                        </div>
                    </article>
                    <article class="row py-3 px-0 border-top">
                        <div class="col-md-2 mb-2">
                            <span class="ratiobox lqd">
                                <img src="./assets/images/img6.jpg" alt="">
                            </span>
                        </div>
                        <div class="col-md-10">
                            <p class="mb-1"><b>Nama Barang</b></p>
                            <p class="mb-1 text-primary">Rp. 177.000</p>
                            <p class="text-muted"><small>Qty: 1 | 500gram</small></p>
                        </div>
                    </article>
                    <article class="row py-3 px-0 border-top">
                        <div class="col-md-2 mb-2">
                            <span class="ratiobox lqd">
                                <img src="./assets/images/img6.jpg" alt="">
                            </span>
                        </div>
                        <div class="col-md-10">
                            <p class="mb-1"><b>Nama Barang</b></p>
                            <p class="mb-1 text-primary">Rp. 177.000</p>
                            <p class="text-muted"><small>Qty: 1 | 500gram</small></p>
                        </div>
                    </article>
                    <article class="row py-3 px-0 border-top">
                        <div class="col-md-2 mb-2">
                            <span class="ratiobox lqd">
                                <img src="./assets/images/img6.jpg" alt="">
                            </span>
                        </div>
                        <div class="col-md-10">
                            <p class="mb-1"><b>Nama Barang</b></p>
                            <p class="mb-1 text-primary">Rp. 177.000</p>
                            <p class="text-muted"><small>Qty: 1 | 500gram</small></p>
                        </div>
                    </article>
            </div>
        </div>
    </div>
</div>